.cart-block{
  margin-left: 800px;
    align-items: right;
    position: relative;
    display:flex ;
}

.total-price {
    margin-left: 15px;
    font-size: 18px;
    font-weight: bold;
}

.cart-block_icon{
    position: relative;
    cursor: pointer;
}