@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');
.product-item{
    text-decoration: none;
    color: antiquewhite;
    width: 320px;
    height: 300px;
    background-color: rgb(36, 37, 41);
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    transition: transform 500ms ease;
}

.product-item:hover{
    transform: scale(1.05);
}

.product-item:not(:last-child){
    margin-bottom: 30px;
    margin-right: 50px;
}

.product-item_title{
    font-size: 18px;
    font-family:'Lato' son-serif ;
    font-weight: 300;
}

.product-item_vendor{
    margin-top: 10px;
    display: flex ;
    flex-wrap: wrap;
}

.product-item_details{
    padding: 10px 20px;
}

.product-item_buy{
    position: absolute;
    right: 0;
    bottom:-5px;
}